:root {
  --black: #000;
  --blue: #2203e4;
  --white: #fff;
  --yellow: #dea405;
  --gray: #575757;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}

a {
  font-size: inherit;
  text-decoration: none;
  transition: all 0.3s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul,
ol,
li {
  list-style-type: none;
}

p {
    font-weight: 400;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  padding: 12px 16px;
}

/* HEADER */

.header {
    padding: 12px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__inner {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__link {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.header__list {
  display: flex;
  gap: 24px;
}

.header__list__item__link {
  padding: 16px 12px;
  display: inline-flex;
  color: #000;
  &:hover {
    opacity: 0.5;
  }
}

/* HERO */

#hero {
    padding: 120px 0;
}

.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    max-width: 610px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-left__inner__title {
    font-size: 48px;
}

.hero-left__inner-links {
    display: flex;
    gap: 24px;
}

.hero-left__inner-links-authors {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid transparent;
}

.hero-left__inner-links-demo {
    border: 1px solid var(--gray);
    color: var(--gray);
}

/* AUTHORS */

.authors__header {
  max-width: 610px;
  text-align: center;
}

.authors__header__title {
  font-size: 36px;
}

.authors__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authors__inner__content {
  display: flex;
  align-items: center;
  gap: 34px;
}

.authors__inner__content__img {
  width: 150px;
  height: 150px;
  border: 2px solid var(--blue);
  border-radius: 50%;
}

.authors__inner-content-wrapper {
  max-width: 645px;
}

.authors__inner-content-head {
  margin-bottom: 12px;
}

.authors__inner-content-head__title {
  font-size: 27px;
  font-weight: 600;
}

.authors__inner-content-head__subtitle {
  font-size: 21px;
  font-weight: 500;
  color: #575757;
}

.author__inner-content-text {
  color: #575757;
}

.author__inner-content-footer {
  
}