$primary-color: rgb(34, 3, 228);
$secondary-color: #575757;
$highlight-color: #dea405;
$accent-color: #ffbe0b;
$text-color: #000;
$white: #fff;
$blue-bg: rgb(0, 98, 255);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $text-color;
  background-color: $white;
}

section {
  margin-bottom: 118px;
}

a {
  font-size: inherit;
  text-decoration: none;
  transition: all 0.3s linear;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

ul, ol, li {
  list-style-type: none;
}

input, textarea {
  border: none;
  outline: none;
}

p {
  font-weight: 400;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  padding: 12px 16px;
}

//  HEADER 
.header {
  padding: 12px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__link {
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  &__list {
    display: flex;
    gap: 24px;

    &__item__link {
      padding: 16px 12px;
      display: inline-flex;
      color: $text-color;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

//  HERO 
#hero {
  padding: 120px 0;

  .hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-left {
    max-width: 610px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__inner__title {
      font-size: 48px;
    }

    &__inner-links {
      display: flex;
      gap: 24px;

      &-authors {
        background-color: $primary-color;
        color: $white;
        border: 1px solid transparent;
      }

      &-demo {
        border: 1px solid $secondary-color;
        color: $secondary-color;
      }
    }
  }
}

//  AUTHORS 
.authors {
  &__header {
    max-width: 610px;
    margin: 0 auto 36px;
    text-align: center;

    &__title {
      font-size: 36px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__content {
      display: flex;
      align-items: center;
      gap: 34px;

      &__img {
        width: 150px;
        height: 150px;
        border: 2px solid $primary-color;
        border-radius: 50%;
      }
    }

    &-content-wrapper {
      max-width: 645px;
    }

    &-content-head {
      margin-bottom: 12px;

      &__title {
        font-size: 27px;
        font-weight: 600;
      }

      &__subtitle {
        font-size: 21px;
        font-weight: 500;
        color: $secondary-color;
      }
    }

    &-content-text {
      color: $secondary-color;
    }

    &-content-footer {
      margin-top: 24px;
      display: flex;
      align-items: center;
      gap: 19px;
    }

    &__professions {
      display: flex;
      align-items: center;
      gap: 8px;

      &-content {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & .author__inner__profession-name {
          color: $highlight-color;
          font-size: 21px;
          font-weight: 500;
          line-height: 1;
        }

        & .author__inner__profession-text {
          color: $accent-color;
        }
      }
    }
  }
}

.active_b {
  color: $text-color;
  font-size: 27px;
}

.active_g {
  color: $secondary-color;
}

// FOR WHO
#for-who {
  background-color: $blue-bg;
  padding-block: 71px;

  .for-who-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .for-who__head {
    max-width: 607px;
    margin: 0 auto 64px;
    text-align: center;
    color: $white;

    &__title {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 16px;
    }
  }

  .for-who__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px 0;
    margin-bottom: 64px;

    &__card {
      max-width: 607px;
      display: flex;
      align-items: center;
      gap: 34px;
      color: $white;

      &-title {
        font-size: 27px;
      }

      &__img {
        border-radius: 24px;
      }
    }
  }

  .for-who_btn {
    color: $primary-color;
    border: 1px solid $primary-color;
    padding: 10px 16px;
  }
}

//  DEMO 
.demo-wrapper {
  &__head {
    max-width: 607px;
    margin: 0 auto 44px;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }

  &__content {
    max-width: 611px;

    &__item {
      text-align: center;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      &__title {
        font-size: 21px;
        margin-bottom: 8px;
        font-weight: 500;
      }

      &__text {
        color: $secondary-color;
      }
    }
  }

  &__img {
    max-width: 444px;
    max-height: 296px;
    position: relative;

    &::after {
      content: "";
      inset: 0;
      position: absolute;
      background: rgba(255, 255, 255, 0.7);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.play-icon {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  background-color: $blue-bg;
  transform: translate(-50%, -50%) rotate(90deg);
  clip-path: polygon(50% 15%, 0% 100%, 100% 100%);
  cursor: pointer;
}

//  CONTACTS 
.contacts-head {
  max-width: 607px;
  margin: 0 auto 44px;
  text-align: center;
}

.contacts-title {
  font-size: 36px;
}

#post-form {
  max-width: 611px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-label {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  text-align: center;
}

.contacts-input {
  padding: 12px;
  margin-top: 12px;
  background-color: rgba(0, 98, 255, 0.3);

  &::placeholder {
    color: rgba(34, 3, 228, 0.6);
  }
}

.contact-btn {
  padding: 12px;
  font-size: 20px;
  background-color: $primary-color;
  color: $white;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: rgba(34, 3, 228, 0.8);
  }
}

//  FOOTER 
#footer {
  padding: 48px 0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
}

.footer__logo {
  flex: 1 0 0%;
}

.footer-socials {
  flex: 1 0 0%;
  display: flex;
  gap: 12px;
  justify-content: end;
}
